@model WebDatVeXe.Models.Voucher

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVoucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVoucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaVoucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaVoucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiGiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriToiThieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriToiThieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHetHan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoKhachHangMoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoKhachHangMoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotDungToiDaMoiNguoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotDungToiDaMoiNguoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApDungTuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApDungTuyen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
