@model WebDatVeXe.Models.TuyenXe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TuyenXe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoangCach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoangCach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianDi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaVe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
